BHGX_CardActiveX/WebService/CardProc.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="CardProc"
 targetNamespace="http://localhost/CardProc.wsdl"
 xmlns:tns="http://localhost/CardProc.wsdl"
 xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"
 xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
 xmlns:ns="urn:CardProc"
 xmlns:SOAP="http://schemas.xmlsoap.org/wsdl/soap/"
 xmlns:MIME="http://schemas.xmlsoap.org/wsdl/mime/"
 xmlns:DIME="http://schemas.xmlsoap.org/ws/2002/04/dime/wsdl/"
 xmlns:WSDL="http://schemas.xmlsoap.org/wsdl/"
 xmlns="http://schemas.xmlsoap.org/wsdl/">

<types>

 <schema targetNamespace="urn:CardProc"
  xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"
  xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns:ns="urn:CardProc"
  xmlns="http://www.w3.org/2001/XMLSchema"
  elementFormDefault="unqualified"
  attributeFormDefault="unqualified">
  <import namespace="http://schemas.xmlsoap.org/soap/encoding/" schemaLocation="http://schemas.xmlsoap.org/soap/encoding/"/>
 </schema>

</types>

<message name="CardRegisgerRequest">
 <part name="pRegXML" type="xsd:string"/>
</message>

<message name="CardRegisgerResponse">
 <part name="strRetXML" type="xsd:string"/>
</message>

<message name="CardCheckRequest">
 <part name="pRegXML" type="xsd:string"/>
</message>

<message name="CardCheckResponse">
 <part name="strRetXML" type="xsd:string"/>
</message>

<message name="CardCheckForNHRequest">
 <part name="pRegXML" type="xsd:string"/>
</message>

<message name="CardCheckForNHResponse">
 <part name="strRetXML" type="xsd:string"/>
</message>

<portType name="CardProcPortType">
 <operation name="CardRegisger">
  <documentation>Service definition of function ns__CardRegisger</documentation>
  <input message="tns:CardRegisgerRequest"/>
  <output message="tns:CardRegisgerResponse"/>
 </operation>
 <operation name="CardCheck">
  <documentation>Service definition of function ns__CardCheck</documentation>
  <input message="tns:CardCheckRequest"/>
  <output message="tns:CardCheckResponse"/>
 </operation>
 <operation name="CardCheckForNH">
  <documentation>Service definition of function ns__CardCheckForNH</documentation>
  <input message="tns:CardCheckForNHRequest"/>
  <output message="tns:CardCheckForNHResponse"/>
 </operation>
</portType>

<binding name="CardProc" type="tns:CardProcPortType">
 <SOAP:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
 <operation name="CardRegisger">
  <SOAP:operation style="rpc" soapAction=""/>
  <input>
     <SOAP:body use="encoded" namespace="urn:CardProc" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </input>
  <output>
     <SOAP:body use="encoded" namespace="urn:CardProc" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </output>
 </operation>
 <operation name="CardCheck">
  <SOAP:operation style="rpc" soapAction=""/>
  <input>
     <SOAP:body use="encoded" namespace="urn:CardProc" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </input>
  <output>
     <SOAP:body use="encoded" namespace="urn:CardProc" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </output>
 </operation>
 <operation name="CardCheckForNH">
  <SOAP:operation style="rpc" soapAction=""/>
  <input>
     <SOAP:body use="encoded" namespace="urn:CardProc" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </input>
  <output>
     <SOAP:body use="encoded" namespace="urn:CardProc" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </output>
 </operation>
</binding>

<service name="CardProc">
 <documentation>gSOAP 2.7.17 generated service definition</documentation>
 <port name="CardProc" binding="tns:CardProc">
  <SOAP:address location="http://localhost"/>
 </port>
</service>

</definitions>
